<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Polling</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/bootstrap-3.4.0/css/bootstrap.min.css}" />
</head>
<body>
	<th:block th:include="/_header"></th:block>
	<div class="container">
		
		<form method="POST" th:object="${pollRequest}"
			th:action="@{/create-poll}">
			
			<div class="form-group">
				<label for="id">question:</label> <input type="text" disabled
					class="form-control" id="id" placeholder="id" name="id" 
					th:field="*{id}" >
			</div>
			
			<div class="form-group">
				<label for="question">question:</label> <input type="text"
					class="form-control" id="question" placeholder="question" name="question" 
					th:field="*{question}">
			</div>

			<th:block th:each="choice, itemChoice : *{choices} ">
				<div class="form-group">
					<label for="choice">choice:</label> <input type="text"
						class="form-control" id="choice" placeholder="choice"
						name="choice" th:field="*{choices[__${itemChoice.index}__].text}">
				</div>

			</th:block>

			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>

	<th:block th:include="/_footer"></th:block>
</body>
</html>