<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Polling</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/bootstrap-3.4.0/css/bootstrap.min.css}" />
</head>
<body>
	<th:block th:include="/_header"></th:block>

	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th>question</th>
					<th>Choice 1</th>
					<th>Choice 2</th>
					<th>function</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="poll : ${polls} ">
					<tr>
						<td><span th:utext="${poll.createdBy.name}"></span> <i>@<span
								th:utext="${poll.createdBy.username}"></span></i><br> <span
							th:utext="${poll.creationDateTime}"></span><br> <strong><span
								th:utext="${poll.question}"></span></strong></td>
						<th:block th:each="choice : ${poll.choices}">
							<td><span th:utext="${choice.text}"></span></td>
						</th:block>
						<td><a class="btn btn-primary" th:href="@{'/update-poll/' + ${poll.id} }" >edit</a></td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>


	<th:block th:include="/_footer"></th:block>
</body>
</html>